@keyframes goldText{

0%{background-position:0%;}

100%{background-position:300%;}

}

@keyframes glowMove{

0%{

transform:translate(0,0);

}

50%{

transform:translate(-150px,80px);

}

100%{

transform:translate(0,0);

}

}

@keyframes floating{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-25px);

}

100%{

transform:translateY(0px);

}

}

@keyframes glowPulse{

0%{

filter:drop-shadow(0 0 20px gold);

}

50%{

filter:drop-shadow(0 0 80px gold);

}

100%{

filter:drop-shadow(0 0 20px gold);

}

}

@keyframes rotateSlow{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}

@keyframes rotateReverse{

from{

transform:rotate(360deg);

}

to{

transform:rotate(0deg);

}

}

@keyframes ringRotate{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}

@keyframes pulseCircle{

0%,100%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

}

@keyframes lightMove1{

0%,100%{

transform:translate(0);

opacity:1;

}

50%{

transform:translate(30px,-40px);

opacity:.2;

}

}

@keyframes lightMove2{

0%,100%{

transform:translate(0);

}

50%{

transform:translate(-40px,30px);

}

}

@keyframes lightMove3{

0%,100%{

transform:translate(0);

}

50%{

transform:translate(50px,-20px);

}

}

@keyframes scrollFloat{

0%,100%{

transform:translate(-50%,0);

}

50%{

transform:translate(-50%,12px);

}

}

/*=========================================
        ENTRADAS CINEMATOGRÁFICAS
=========================================*/

.revealLeft{

opacity:0;

transform:translateX(-120px);

animation:fadeLeft 1.6s ease forwards;

animation-delay:.5s;

}

.revealRight{

opacity:0;

transform:translateX(120px);

animation:fadeRight 1.6s ease forwards;

animation-delay:1s;

}

.topNav{

opacity:0;

transform:translateY(-80px);

animation:fadeTop 1s forwards;

animation-delay:.2s;

}

@keyframes fadeLeft{

to{

opacity:1;

transform:translateX(0);

}

}

@keyframes fadeRight{

to{

opacity:1;

transform:translateX(0);

}

}

@keyframes fadeTop{

to{

opacity:1;

transform:translateY(0);

}

}

/*=========================================

        GRID

=========================================*/

@keyframes gridMove{

0%{

transform:translate(0,0);

}

100%{

transform:translate(80px,80px);

}

}


/*=========================================

        FLOAT

=========================================*/

@keyframes floatShape{

0%{

transform:

translateY(0)

rotate(0deg);

}

50%{

transform:

translateY(-45px)

rotate(180deg);

}

100%{

transform:

translateY(0)

rotate(360deg);

}

}

@keyframes rotateClover{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}


@keyframes goldDiscRotate{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}


@keyframes goldPulse{

0%{

transform:scale(.9);

opacity:.2;

}

50%{

transform:scale(1.12);

opacity:.45;

}

100%{

transform:scale(.9);

opacity:.2;

}

}


@keyframes glowScale{

0%{

transform:scale(.9);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(.9);

}

}

@keyframes rotateOrbit{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}

@keyframes blink{

0%,100%{

opacity:.2;

transform:scale(.5);

}

50%{

opacity:1;

transform:scale(1.6);

}

}
