#ovChatOverlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    display:none;

    justify-content:flex-end;

    align-items:flex-end;

    z-index:99999;

}

#ovChat{

    width:370px;

    height:560px;

    background:white;

    border-radius:18px;

    margin:25px;

    overflow:hidden;

    display:flex;

    flex-direction:column;

    box-shadow:0 20px 50px rgba(0,0,0,.30);

    animation:subir .30s;

}

@keyframes subir{

from{

transform:translateY(40px);

opacity:0;

}

to{

transform:translateY(0);

opacity:1;

}

}

.ovHeader{

background:#25D366;

color:white;

padding:18px;

display:flex;

justify-content:space-between;

align-items:center;

}

.ovHeader button{

background:none;

border:none;

font-size:28px;

color:white;

cursor:pointer;

}

#ovMensajes{

flex:1;

background:#ECE5DD;

padding:18px;

overflow-y:auto;

}

.ovBot{

background:white;

padding:15px;

border-radius:15px;

width:85%;

margin-bottom:15px;

line-height:1.5;

}

.ovFooter{

padding:15px;

display:flex;

gap:10px;

background:white;

}

.ovFooter input{

flex:1;

padding:12px;

border:1px solid #ddd;

border-radius:10px;

font-size:15px;

outline:none;

}

.ovFooter button{

background:#25D366;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

font-weight:bold;

}
